body{
    background-color: gainsboro;
   
}
.btn{
    cursor: pointer;
}
body {
    color: indianred;
}
.clicked {
    color: aqua;
}

.form,
.greetings {
    display: none;
}
.showing{
    display: block;
}